{% extends 'layout/base.html' %}
{% block css_import %}
<link href="{{ url_for('static', filename='css/handle-class.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/score.css') }}" rel="stylesheet"/>
{% endblock %}


{% block content%}
<!------------->


<div class=" box_content">
    <div class="row content">
        <div class="col-sm-2 sidenav content_teaching" id="myHeader">
            <h4 class="title_side_nav">Chức năng</h4>

            <ul class="nav nav-pills nav-stacked">
                <li class="active update_text">
<!--<<<<<<< HEAD-->
                    <a href="{{ url_for('page_table_average',id_class =  class_name.id , id_subject =   subject.id ,

                     id_school_year =  semester.id ) }}">XUẤT BẢN ĐIỂM MÔN HỌC</a>
<!--=======-->
<!--                    <a href="/table-average">XUẤT BẢNG ĐIỂM</a>-->
<!--&gt;>>>>>> 0f07cb44d6818ff46de41565ef8d3844acdc610f-->
               {% if user.id == class_name.id_teacher_in_charge %}
                <li class="update_text">
                    <a href="/juge-comment">NHẬN XÉT</a>
                </li>
                 <li class="update_text">
                    <a href="{{ url_for('score_avg_semester_class', id_school_year = semester.id, id_class = class_name.id ) }}">Đánh Giá Học Lực Cuối Kỳ</a>
                </li>
                {% endif %}

            </ul>
        </div>


        <div class="col-sm-10 content_teaching_1">
            <div>
                <h1 class="name-class"> lớp {{ class_name.name_class }}</h1>
                <div class="subject-semester">
                    <span >Bảng điểm môn {{ subject.name_subject }} </span>
                    <span >{{ semester.semester }} {{ semester.name }}</span>
                </div>

                <div class="heaed_type_score">
                    <h1>Mã số : Họ và tên</h1>
                    <h1>Điểm 15 phút</h1>
                    <h1>Điểm 45 phút</h1>
                    <h1>Điểm thi cuối kỳ</h1>
                </div>
                <div class="row table_score_students">
                    <div class="col-md-3 col_student_name">
                        {% for i in list_student%}

                        <div class="row cell_name" id="{{ i.id }}">

                            <span colspan="1" class="student_name">  <span scope="row"
                             class="student-id">{{ i.id }}</span> {{ i.name }}</span>
                        </div>

                        {% endfor %}
                    </div>


                    <div class="col-md-9 col_student_score">

                        {% for i in list_cell %}
                        <div class="cell_score">
                            <input class="no-outline cell" type="text" id="{{ i.id }}" onblur="change_cell(this,{{ id_year }},{{ id_subject }} )"
                               onclick="hightline_student(this)"    value="{{ i.convert_list() }}" />
                        </div>
                        {% endfor %}

                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<!-- <script>
        window.onscroll = function() {myFunction()};

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop - 121.08;

        function myFunction() {
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }







<
</script> -->
 -->

<button onclick="auto()"></button>


<input type="hidden" id="hdnSession" data-value="@Request.RequestContext.HttpContext.Session['rule_subject']" />

<script src="{{ url_for('static', filename='js/handle_score.js') }}"></script>


{% endblock%}